* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #2d2013;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  height: 100vh;
}

.container {
  margin: auto;
  max-width: 80rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.container .title {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 4rem;
}

.container .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .flex input,
.container .flex button {
  border: 1px solid #dedede;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 1.6rem;
  padding: 0.8rem 1rem;
  margin: 0;
}

.container .flex input[type='text'] {
  width: 30rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.container .flex input[type='text']:focus, .container .flex input[type='text']:active {
  width: 40rem;
}

.container .flex .search-btn {
  cursor: pointer;
  border-radius: 0;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.container #result-heading .heading {
  font-weight: bold;
  font-size: 3rem;
  margin: 3rem;
}

.container #result-heading .meals {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
}

.container #result-heading .meals .meal {
  cursor: pointer;
  position: relative;
  height: 18rem;
  width: 18rem;
  text-align: center;
  font-size: 1.5rem;
}

.container #result-heading .meals .meal:hover > .meal-info {
  opacity: 1;
}

.container #result-heading .meals .meal img {
  width: 100%;
  height: 100%;
  border: 4px solid #fff;
  border-radius: 4px;
}

.container #result-heading .meals .meal .meal-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  opacity: 0;
}

.random-btn {
  cursor: pointer;
  border: none;
  margin-left: 1rem !important;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

input:focus,
button:focus {
  outline: none;
  -webkit-box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

input:active,
button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.alert {
  background-color: rebeccapurple;
  width: 40rem;
  height: 4rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.single-meal {
  margin: 3rem auto;
  width: 70%;
}

.single-meal h1 {
  font-size: 3rem;
}

.single-meal img {
  width: 30rem;
  margin: 1.5rem;
  border: 4px solid #fff;
  border-radius: 4px;
}

.single-meal .single-meal-info {
  margin: 2rem;
  padding: 1rem;
  border: 2px dashed #e09850;
  border-radius: 5px;
}

.single-meal .single-meal-info p {
  font-size: 2.1rem;
  margin: 1rem;
  font-weight: bold;
}

.single-meal .main p {
  margin: 0;
  letter-spacing: 0.5px;
  line-height: 1.5;
  font-size: 2rem;
  text-align: justify;
}

.single-meal .main h2 {
  font-size: 3.5rem;
  font-weight: bold;
  margin: 3rem;
}

.single-meal .main ul {
  padding-left: 0;
  list-style-type: none;
}

.single-meal .main ul li {
  border: 1px solid #ededed;
  border-radius: 5px;
  background-color: #fff;
  display: inline-block;
  color: #2d2013;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px;
  margin: 0 5px 5px 0;
}

@media only screen and (max-width: 50em) {
  .meals {
    -ms-grid-columns: (1fr)[3] !important;
        grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media only screen and (max-width: 43.75em) {
  .meals {
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
  }
  .meal {
    height: 20rem !important;
    width: 20rem !important;
  }
}

@media only screen and (max-width: 31.25em) {
  input[type='text'] {
    width: 100% !important;
  }
  .meals {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
    margin: 0 50vw !important;
  }
  .meal {
    height: 30rem !important;
    width: 30rem !important;
  }
}
/*# sourceMappingURL=style.css.map */