body {
  background-color: #2c3e50;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.settings-btn {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
}

.settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.settings.hide {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.settings label {
  display: inline;
  font-size: 2rem;
}

.settings select {
  background-color: #a7c5e3;
  font-size: 2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20rem;
  padding: 0.5rem;
  border-radius: 0;
}

.container {
  background-color: #34495e;
  padding: 3rem;
  border-radius: 4px;
  -webkit-box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  color: #fff;
  position: relative;
  text-align: center;
  width: 60rem;
  height: 30rem;
  font-size: 2rem;
}

.container h1 {
  margin: 0;
}

.container h2 {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.8rem;
  border-radius: 4px;
  margin: 0 0 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.container small {
  margin-bottom: 5rem;
}

.container input {
  border: 0;
  border-radius: 5px;
  width: 30rem;
  padding: 1.2rem 2rem;
  margin-top: 3rem;
}

.container .time-container {
  position: absolute;
  top: 9rem;
  left: 3rem;
}

.container .score-container {
  position: absolute;
  top: 9rem;
  right: 3rem;
}

.container .end-game-container {
  background-color: inherit;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.container .end-game-container i {
  position: absolute;
  display: block;
  left: 50%;
  top: 0;
  width: 5px;
  height: 10px;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(1) {
  -webkit-transform: translate3d(-56px, 83px, 0) rotate(111deg);
          transform: translate3d(-56px, 83px, 0) rotate(111deg);
  background: #ff0037;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(2) {
  -webkit-transform: translate3d(20px, -74px, 0) rotate(329deg);
          transform: translate3d(20px, -74px, 0) rotate(329deg);
  background: #f2ff00;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(3) {
  -webkit-transform: translate3d(-72px, 52px, 0) rotate(285deg);
          transform: translate3d(-72px, 52px, 0) rotate(285deg);
  background: #00ff66;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(4) {
  -webkit-transform: translate3d(-40px, -88px, 0) rotate(263deg);
          transform: translate3d(-40px, -88px, 0) rotate(263deg);
  background: #88ff00;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(5) {
  -webkit-transform: translate3d(-59px, 60px, 0) rotate(148deg);
          transform: translate3d(-59px, 60px, 0) rotate(148deg);
  background: #c8ff00;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(6) {
  -webkit-transform: translate3d(3px, 29px, 0) rotate(315deg);
          transform: translate3d(3px, 29px, 0) rotate(315deg);
  background: #fbff00;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(7) {
  -webkit-transform: translate3d(-3px, -35px, 0) rotate(146deg);
          transform: translate3d(-3px, -35px, 0) rotate(146deg);
  background: #ffb700;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(8) {
  -webkit-transform: translate3d(89px, 71px, 0) rotate(86deg);
          transform: translate3d(89px, 71px, 0) rotate(86deg);
  background: #ff4800;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(9) {
  -webkit-transform: translate3d(-61px, -59px, 0) rotate(88deg);
          transform: translate3d(-61px, -59px, 0) rotate(88deg);
  background: #0009ff;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(10) {
  -webkit-transform: translate3d(73px, 31px, 0) rotate(219deg);
          transform: translate3d(73px, 31px, 0) rotate(219deg);
  background: #eeff00;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(11) {
  -webkit-transform: translate3d(37px, 68px, 0) rotate(35deg);
          transform: translate3d(37px, 68px, 0) rotate(35deg);
  background: #aa00ff;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(12) {
  -webkit-transform: translate3d(26px, 94px, 0) rotate(200deg);
          transform: translate3d(26px, 94px, 0) rotate(200deg);
  background: #ff00ae;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(13) {
  -webkit-transform: translate3d(51px, -24px, 0) rotate(344deg);
          transform: translate3d(51px, -24px, 0) rotate(344deg);
  background: #ff4000;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(14) {
  -webkit-transform: translate3d(28px, -26px, 0) rotate(76deg);
          transform: translate3d(28px, -26px, 0) rotate(76deg);
  background: #ff1a00;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(15) {
  -webkit-transform: translate3d(49px, 1px, 0) rotate(188deg);
          transform: translate3d(49px, 1px, 0) rotate(188deg);
  background: #91ff00;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(16) {
  -webkit-transform: translate3d(-87px, -48px, 0) rotate(173deg);
          transform: translate3d(-87px, -48px, 0) rotate(173deg);
  background: #00ff15;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(17) {
  -webkit-transform: translate3d(68px, -49px, 0) rotate(17deg);
          transform: translate3d(68px, -49px, 0) rotate(17deg);
  background: #bfff00;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(18) {
  -webkit-transform: translate3d(-52px, 51px, 0) rotate(265deg);
          transform: translate3d(-52px, 51px, 0) rotate(265deg);
  background: #95ff00;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(19) {
  -webkit-transform: translate3d(71px, 36px, 0) rotate(40deg);
          transform: translate3d(71px, 36px, 0) rotate(40deg);
  background: blue;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(20) {
  -webkit-transform: translate3d(44px, -19px, 0) rotate(133deg);
          transform: translate3d(44px, -19px, 0) rotate(133deg);
  background: #f200ff;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(21) {
  -webkit-transform: translate3d(42px, -11px, 0) rotate(309deg);
          transform: translate3d(42px, -11px, 0) rotate(309deg);
  background: #0033ff;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(22) {
  -webkit-transform: translate3d(28px, 28px, 0) rotate(238deg);
          transform: translate3d(28px, 28px, 0) rotate(238deg);
  background: #ff2b00;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(23) {
  -webkit-transform: translate3d(-1px, 15px, 0) rotate(190deg);
          transform: translate3d(-1px, 15px, 0) rotate(190deg);
  background: #ffd500;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(24) {
  -webkit-transform: translate3d(-48px, 97px, 0) rotate(123deg);
          transform: translate3d(-48px, 97px, 0) rotate(123deg);
  background: #ff8400;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(25) {
  -webkit-transform: translate3d(-59px, -39px, 0) rotate(276deg);
          transform: translate3d(-59px, -39px, 0) rotate(276deg);
  background: #ffee00;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(26) {
  -webkit-transform: translate3d(-20px, -4px, 0) rotate(242deg);
          transform: translate3d(-20px, -4px, 0) rotate(242deg);
  background: #44ff00;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(27) {
  -webkit-transform: translate3d(63px, 88px, 0) rotate(145deg);
          transform: translate3d(63px, 88px, 0) rotate(145deg);
  background: #ff0066;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(28) {
  -webkit-transform: translate3d(1px, -32px, 0) rotate(288deg);
          transform: translate3d(1px, -32px, 0) rotate(288deg);
  background: #ff00e1;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(29) {
  -webkit-transform: translate3d(83px, 74px, 0) rotate(316deg);
          transform: translate3d(83px, 74px, 0) rotate(316deg);
  background: #e100ff;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(30) {
  -webkit-transform: translate3d(-87px, 22px, 0) rotate(355deg);
          transform: translate3d(-87px, 22px, 0) rotate(355deg);
  background: yellow;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(31) {
  -webkit-transform: translate3d(67px, 27px, 0) rotate(23deg);
          transform: translate3d(67px, 27px, 0) rotate(23deg);
  background: #00ff95;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(32) {
  -webkit-transform: translate3d(-59px, 77px, 0) rotate(224deg);
          transform: translate3d(-59px, 77px, 0) rotate(224deg);
  background: #4000ff;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(33) {
  -webkit-transform: translate3d(-22px, -79px, 0) rotate(170deg);
          transform: translate3d(-22px, -79px, 0) rotate(170deg);
  background: #09ff00;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(34) {
  -webkit-transform: translate3d(20px, -22px, 0) rotate(237deg);
          transform: translate3d(20px, -22px, 0) rotate(237deg);
  background: #0400ff;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(35) {
  -webkit-transform: translate3d(-16px, -14px, 0) rotate(316deg);
          transform: translate3d(-16px, -14px, 0) rotate(316deg);
  background: #00ffa6;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(36) {
  -webkit-transform: translate3d(-25px, 4px, 0) rotate(101deg);
          transform: translate3d(-25px, 4px, 0) rotate(101deg);
  background: #e1ff00;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(37) {
  -webkit-transform: translate3d(-25px, 58px, 0) rotate(222deg);
          transform: translate3d(-25px, 58px, 0) rotate(222deg);
  background: #00ff0d;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(38) {
  -webkit-transform: translate3d(63px, 78px, 0) rotate(274deg);
          transform: translate3d(63px, 78px, 0) rotate(274deg);
  background: #00ff2f;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(39) {
  -webkit-transform: translate3d(-29px, 31px, 0) rotate(166deg);
          transform: translate3d(-29px, 31px, 0) rotate(166deg);
  background: #fbff00;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(40) {
  -webkit-transform: translate3d(-2px, 67px, 0) rotate(259deg);
          transform: translate3d(-2px, 67px, 0) rotate(259deg);
  background: #e600ff;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(41) {
  -webkit-transform: translate3d(-1px, -74px, 0) rotate(224deg);
          transform: translate3d(-1px, -74px, 0) rotate(224deg);
  background: #0073ff;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(42) {
  -webkit-transform: translate3d(56px, -8px, 0) rotate(215deg);
          transform: translate3d(56px, -8px, 0) rotate(215deg);
  background: #1500ff;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(43) {
  -webkit-transform: translate3d(16px, -62px, 0) rotate(309deg);
          transform: translate3d(16px, -62px, 0) rotate(309deg);
  background: #ffa600;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(44) {
  -webkit-transform: translate3d(82px, -75px, 0) rotate(279deg);
          transform: translate3d(82px, -75px, 0) rotate(279deg);
  background: #66ff00;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(45) {
  -webkit-transform: translate3d(28px, 51px, 0) rotate(177deg);
          transform: translate3d(28px, 51px, 0) rotate(177deg);
  background: #33ff00;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(46) {
  -webkit-transform: translate3d(-20px, 82px, 0) rotate(163deg);
          transform: translate3d(-20px, 82px, 0) rotate(163deg);
  background: #00ffc8;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(47) {
  -webkit-transform: translate3d(-89px, -75px, 0) rotate(284deg);
          transform: translate3d(-89px, -75px, 0) rotate(284deg);
  background: deepskyblue;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(48) {
  -webkit-transform: translate3d(-80px, -73px, 0) rotate(245deg);
          transform: translate3d(-80px, -73px, 0) rotate(245deg);
  background: #ff00c8;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(49) {
  -webkit-transform: translate3d(42px, 32px, 0) rotate(142deg);
          transform: translate3d(42px, 32px, 0) rotate(142deg);
  background: #66ff00;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

.container .end-game-container i:nth-of-type(50) {
  -webkit-transform: translate3d(24px, 16px, 0) rotate(328deg);
          transform: translate3d(24px, 16px, 0) rotate(328deg);
  background: #00ff4d;
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}

@-webkit-keyframes bang {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes bang {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */